#navbar{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: cornflowerblue;
    padding: 10px;   
}
#navbar >a{
    text-decoration: none;
    color:aliceblue;  
    font-weight: bold;
    margin-top: 22px;
    font-size: larger;
}
#navbar >button{
    height: 40px;
    background-color: cornflowerblue;
}
